
<h1><%= @restaurant.name %> </h1>

<div class ="container">
  <% if @burgers.count == 0 %>
  <h2> at <%= @restaurant.name %> </h2>

  <% else %>
  <p><%=@challenge.count%>  challenges available</p>


  <ul class="table_header">
    <li class="table_item"> <h3>Challenge</h3> </li>
    <li class="table_item"> <h3>Deal</h3> </li>
    <li class="table_item"> <h3>Available</h3> </li>
    <li class="table_item"> <h3>View</h3></li>
  </ul>


  <% for challenge in @challenges %>
  <ul class="table_container">
    <li class="table_item"><p> <%= challenge.name %> </p> </li>
    <li class="table_item">  <p> <%= challenge.info %> </p> </li>
    <li class="table_item">  <p> <%= challenge.deal %> </p> </li>
    <li class="table_item">  <p> <%= challenge.day %> </p> </li>
    <li class="table_item">  <p> <%= challenge.food_type %> </p> </li>
    
  </ul>
  <%end%>
  <%end%>


</div>