<p>name: <%= @challenge.name()%></p>
<p>restaurant: <%= @challenge.restaurant["name"]%></p>
<p>info: <%= @challenge.info()%></p>
<p>deal: <%= @challenge.deal()%></p>
<p>day: <%= @challenge.day()%></p>
<p>food_type: <%= @challenge.food_type()%></p>

<a href="/challenges/<%= @challenge.id %>/edit">Edit challenge</a>

<form action="/challenges/<%= @challenge.id %>/delete" method="post">
<input type="submit" value="Delete"/>
</form>
