<h1>RESTAURANTS</h1>

<form action="/restaurants/<%= @restaurant.id %>" method="post" >

  <label>
    NAME:
    <input type="text"
    name="name"
    value="<%= @restaurant.name %>"
    />
  </label>

  <label>
    LOCATION:
    <input type="text"
    name="location"
    value="<%= @restaurant.location %>"
    />
  </label>

  <label>
    WEBSITE:
    <input type="text"
    name="website"
    value="<%= @restaurant.website %>"
    />
  </label>
  
  <label>
    DIRECTIONS:
    <input type="text"
    name="directions"
    value="<%= @restaurant.directions %>"
    />
  </label>

  <label>
    NUMBER:
    <input type="text"
    name="number"
    value="<%= @restaurant.number %>"
    />
  </label>

  <br>
  <br>
  
  <input type="submit" value="UPDATE RESTAURANTS"/>
</form>




