<h1>restaurants</h1>
<p><a href="/restaurants/new">New restaurants</a></p>

<% for restaurant in @restaurants %>
<p>Name: <%= restaurant.name()%></p>
<p>location: <%= restaurant.location()%> </p>
<p>website: <%= restaurant.website() %></p>
<p>number: <%= restaurant.number() %></p>
<p><a href="/restaurants/<%= restaurant.id %>" >Show restaurants</a></p>
<hr>
<% end %>