<h1>RESTAURANTS</h1>

<table style="width:100%">
  <tr>
    <th>NAME</th> 
    <th>LOCATION</th>
    <th>WEBSITE</th>
    <th>NUMBER</th>
  </tr>

  <% for restaurant in @restaurants %>
  <tr>
    <td><%= restaurant.name()%></td> 
    <td><%= restaurant.location()%></td>
    <td><a href = "http://<%= restaurant.website()%>"><%= restaurant.website() %></a></td>
    <td><%= restaurant.number() %></td>
    <td><a href="/restaurants/<%= restaurant.id %>" >SHOW RESTAURANTS</a></td>
    <td><a href = "restaurants/<%=restaurant.id%>/challenges"> SEE CHALLENGES</a></td>
  </tr>
  <% end %>
</table>

<br>

<hr>
