<div class ="container">

  <p>name: <%= @restaurant.name()%></p>
  <br>
  <p>location: <%= @restaurant.location()%></p>
  <br>
  <p>website:<a href = "http://<%= @restaurant.website()%>"><%= @restaurant.website() %></a></p>
  <br>
  <p>number: <%= @restaurant.number()%></p>
  <br>
  <p> <img src="<%= @restaurant.directions()%>"></p>
  <br>

  <a href="/restaurants/<%= @restaurant.id %>/edit">Edit restaurants</a>

  <form action="/restaurants/<%= @restaurant.id %>/delete" method="post">
    <input type="submit" value="Delete"/>
  </form>

</div>