<p>name: <%= @restaurant.name()%></p>
<p>location: <%= @restaurant.location()%></p>
<p>website: <%= @restaurant.website()%></p>
<p>directions: <%= @restaurant.directions()%></p>
<p>number: <%= @restaurant.number()%></p>

<a href="/restaurants/<%= @restaurant.id %>/edit">Edit restaurants</a>

<form action="/restaurants/<%= @restaurant.id %>/delete" method="post">
<input type="submit" value="Delete"/>
</form>
