

<h1><%= @restaurant.name()%></h1>

<h3> <%= @restaurant.location()%></h3>

<a href = "http://<%= @restaurant.website()%>"><h3><%= @restaurant.website() %></h3></a>

<h3><%= @restaurant.number()%></h3>

<br>

<p> <img src="<%= @restaurant.directions()%>"></p>

<br>

<form action="/restaurants/<%= @restaurant.id %>/edit" method="get">
  <input type="submit" value="EDIT RESTAURANT"/>
</form>

<form action="/restaurants/<%= @restaurant.id %>/delete" method="post">
  <input type="submit" value="DELETE"/>
</form>

</div>

